.menutools {
  display: none;
  width: 422px;
  height: -webkit-fill-available;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  padding-left: 12px;
}

.menutools a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.menutools a:hover {
  color: #f1f1f1;
}

.menutools .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menutools > h1 {
  color: #ffffff;
}

.menutools > h2 {
  color: #ffffff;
}

.menutools > h3 {
  color: #ffffff;
}

.menutools > label {
  color: #ffffff;
}

.menutools > div {
  color: #ffffff;
}

.btnMenu {
  font-size: 15px;
  cursor: pointer;
  background: transparent;
  border: solid 1px #c39951;
  color: #bfae54;
  z-index: 10000;
}

@media screen and (max-height: 450px) {
  .menutools {
    padding-top: 15px;
  }

  .menutools a {
    font-size: 18px;
  }
}

/* Notifications */
.notification-box {
  cursor: pointer;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px #000;
  color: #ffffff;
  margin: 0 0 6px;
  opacity: 0.9;
  padding: 5px 5px 5px 28px;
  width: 200px;
  white-space: pre-wrap;
  z-index: 10000;
}

.notification-info {
  background-color: #2f96b4;
  border: 1px solid #267890;
}

.panelBusqueda {
  position: inherit;
  height: 41px;
  width: 299px;
  background: #ded2ad;
  left: 305px;
  top: -33px;
}

.buscarRotativos {
  position: relative;
  right: -22px;
  top: -26px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.SelectCategorias {
  position: relative;
  right: -39px;
  top: -23px;
  width: 130px;
  font-size: 15px;
}

.Favoritos {
  position: relative;
  width: 294px;
  height: 97px;
  top: -24px;
  background: rgb(222, 210, 173);
  padding: 18px 0px 0px 16px;
  overflow: scroll;
  overflow-x: hidden;
}

.Favoritos::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.Favoritos::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.Favoritos::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.Favoritos::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.menuBotonPaquetes {
  display: none;
  position: absolute;
  opacity: 1;
  background: rgb(222, 210, 173);
  top: 40px;
  width: max-content;
  right: -15px;
  padding: 10px;
  z-index: 10;
  max-width: 106px;
}

#menuBotonPaquetes .icon-out {
  float: left;
}

#menuBotonPaquetes .icon {
  width: 25px;
  height: 25px;
  display: block;
  cursor: pointer;
}

.food-icon {
  background: transparent url(/images/buttons.png) -395px 0px no-repeat;
}

.gold-icon {
  background: transparent url(/images/buttons.png) -170px 0px no-repeat;
}

.tool-icon {
  background: #9f824e url(/images/objetos.png) 2px -4237px no-repeat;
  background-size: 51px 8500px;
  height: 25px !important;
  width: 25px !important;
}

.pergamino-icon {
  background: #9f824e url(/images/objetos.png) 0px -5047px no-repeat;
  background-size: 51px 8500px;
  height: 25px !important;
  width: 25px !important;
}

.extederPaquetes {
  position: absolute;
  right: -10px;
  top: -3px;
  height: 19px;
  width: 21px;
  color: white;
  background: #8e2a2a;
  border: none;
}

.extender-dropdown {
  margin: 0px 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #b3aaaa;
  background: white;
}

.extender-calidad {
  display: none;
  right: -119px;
  left: -5px;
  top: 19px;
  position: absolute;
  background-color: #ded2ad;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  margin: 6px;
}

.extender-calidad-dropdown {
  margin: 5px;
  padding-block: 5px 4px;
  background-color: white;
  border: 1px solid #b3aaaa;
  float: left;
}

#header_menue {
  z-index: 40 !important;
}

.GTSelectMenu {
  background-color: white;
  color: black;
  font-weight: bold;
}

.collapsed {
  display: none;
}

@media only screen and (max-width: 1760px) {
  .auto-settings {
    background: #453418 !important;
    width: 850px;
  }

  .auto-settings ul.tabs {
    background-image: none !important;
  }

  .auto-settings::-webkit-scrollbar {
    height: 10px;
  }

  /* Track */
  .auto-settings::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .auto-settings::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  .auto-settings::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .auto-settings .content.open {
    background-color: #e7ddba !important;
  }

  .gts-pause {
    right: 7px !important;
  }
}

.gtools-icon {
  background: #b79a63 url(https://es.gladiatus-tools.com/favicon.png);
  background-size: cover;
}

#MontodeRotativos {
  position: relative;
  top: -18px;
  right: -306px;
}

#paquetesMercado {
  display: block;
  background-color: #ded2ad;
  max-height: 82px;
  overflow: scroll;
  overflow-x: hidden;
}

#paquetesMercado::-webkit-scrollbar {
  width: 10px;
}

/* Track */
#paquetesMercado::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#paquetesMercado::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#paquetesMercado::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mensajeMercado h1 {
  color: red;
  font-size: 14px;
  margin: -1px;
}

.mensajeMercado span {
  position: relative;
  top: -4px;
}

.charstats_value22 {
  top: 3px;
}

#extenderReportes {
  background: #d8cd9f;
  width: 137px;
  height: 31px;
  display: none;
  position: relative;
  top: 40px;
  justify-content: center;
}

#formulariobusquedapaquete {
  display: none;
  background: azure;
  position: absolute;
  top: 18px;
  left: 119px;
  width: 118px;
  height: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#icon_expeditionpoints,
.icon_expeditionpoints {
  background-position: -1108px 0;
  transform: scale(1) !important;
}
#icon_dungeonpoints,
.icon_dungeonpoints {
  background-position: -1083px 0;
  transform: scale(1) !important;
}
#icon_arena,
.icon_arena {
  background-position: -1058px 0;
  transform: scale(1) !important;
}
#icon_grouparena,
.icon_grouparena {
  background-position: -1165px 0;
  transform: scale(1) !important;
}

.gca_packages_filters_layout .package_side_filters {
  width: 197px !important;
}

input#inputVida {
  background-color: white;
  border-style: solid;
  border-color: white;
}

div#titleSearchResources {
  background: white;
  position: absolute;
  top: 281px;
  left: 377px;
  text-align: center;
  width: 120px;
}
div#SearchResources {
  position: absolute;
  background: white;
  z-index: 1;
  padding: 9px;
  left: 507px;
  width: 191px;
}

ul#mainnav li {
  max-width: 560px !important;
  overflow: auto;
  overflow-y: hidden;
  height: 58px;
}

.paquetesCategoria {
  display: block;
  padding: 0px 0px 0px 11px;
  background: bisque;
  color: #14436c;
}
.paquetesRecurso {
  position: absolute;
  top: 0px;
  left: 208px;
  width: max-content;
}
.paquetesItems {
  display: block;
  background: rgb(255 255 255);
  color: rgb(0, 8, 2);
  padding: 0px 0px 0px 11px;
  cursor: copy;
  width: 138px;
}
